@font-face {
  font-family: 'Minecart_LCD';
  src: local('Minecart_LCD'), url(../fonts/Minecart_LCD.ttf);
}

.timetable {
  border-collapse: collapse;
  font-family: "Minecart_LCD", Courier, monospace;
  border: 20px solid #000;
  background-color: #221701;
  width: min-content;
}

.timetable td {
  color: #fc9703;
  text-align: left;
  padding-left: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.headsign {
  min-width: 20rem;
  max-width: 30rem;
  
}

.name {
  width: fit-content;
  max-width: 10rem;
}

.timetable .time {
  margin-left: 40px;
  float: right;
  width: fit-content;
}
